.comment-input{

    resize: both;

}

.feed{

    display: grid;
    place-items: center;

}

#sparta-text{

    text-align: center;
    font-size: 500%;

}

#register-form, #login-form{

    display:inline-block;
}

.center {
    text-align:center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}



